# Exploratory Notebook

# Business Understanding

## Business Context
Our company is entering the competitive movie production industry by establishing a new movie studio. With major corporations increasingly investing in original video content, we need to strategically position ourselves to maximize our chances of box office success.

## Primary Stakeholder
**Head of New Movie Studio** - The key decision-maker who will use our analysis to guide the studio's content creation strategy and investment decisions.

## Key Business Questions

### 1. **What genres are most profitable?**
   - Which movie genres consistently generate the highest box office returns?
   - Are there emerging genres showing strong growth potential?

### 2. **What budget ranges optimize ROI?**
   - What is the relationship between production budget and box office performance?
   - What budget sweet spot maximizes return on investment?

### 3. **When should we release our films?**
   - Which months/seasons show the strongest box office performance?
   - How can we avoid oversaturated release periods?

## Business Objectives
- **Primary Goal:** Identify the most profitable film characteristics to guide our initial movie productions
- **Success Metrics:** Maximize box office revenue and return on investment
- **Risk Mitigation:** Minimize financial losses by avoiding poorly-performing film categories

## Data Requirements & Analysis Considerations

### Dataset Specifications Needed:
1. **What movie data do we have access to?** (Box office numbers, budgets, genres, release dates, ratings, etc.)
2. **What time period does our data cover?** (Recent years only, or historical data?)
3. **Is it domestic box office, international, or worldwide gross?**

### Business Context Clarifications:
4. **What size studio are we targeting?** (Independent/small budget vs. major studio competitor?)
5. **Are there any genre restrictions?** (Family-friendly only, or open to all ratings?)
6. **Geographic focus?** (Domestic US market, international, or global?)

### Analysis Scope Considerations:
7. **Should we consider streaming/digital revenue or just theatrical box office?**
8. **Do we want to analyze competitor studios' strategies?**
9. **Should seasonal trends consider COVID-19 impact on recent years?**

## Success Metrics Framework
**Primary Metrics:**
- **Gross Revenue:** Total box office performance
- **Return on Investment (ROI):** (Revenue - Budget) / Budget × 100
- **Profit Margins:** Net profit as percentage of revenue
- **Budget Efficiency:** Revenue per dollar invested

**Secondary Metrics:**
- **Market Share:** Performance relative to industry
- **Risk Assessment:** Variance in returns by category
- **Audience Reach:** Ticket sales and demographic penetration

## Recommended Visualizations Strategy

### 1. **Genre Analysis**
- **Horizontal Bar Chart:** Average revenue by genre (easy comparison)
- **Box Plot:** Revenue distribution by genre (shows variability and outliers)
- **Scatter Plot:** Budget vs. Revenue by genre (profitability insights)

### 2. **Budget Optimization**
- **Scatter Plot with Trend Line:** Budget vs. ROI (sweet spot identification)
- **Histogram:** Distribution of profitable budget ranges
- **Bubble Chart:** Budget vs. Revenue (bubble size = profit margin)

### 3. **Release Timing**
- **Line Graph:** Monthly box office performance over time
- **Heatmap:** Revenue by month and genre combination
- **Seasonal Bar Chart:** Quarterly performance comparison

### 4. **Risk vs. Reward Analysis**
- **Risk-Return Scatter Plot:** Average return vs. standard deviation by category
- **Waterfall Chart:** Success rate breakdown by film characteristics

## Expected Deliverables
Three concrete, data-driven recommendations that the Head of Movie Studio can immediately implement in the studio's content strategy and production planning.

# Data Understanding

`bom.movie_gross.csv.gz` dataset from Box Office Mojo contains the revenue data for various films. It contains the following five columns:

- **title**: movie title
- **studio**: producing studio
- **domestic_gross**: domestic gross earnings in USD
- **foreign_gross**: international gross earnings
- **year**: year film was released

`im` database from IMDb (Internet Movie Database) contains information about the movies and those who worked on them. It contains eight tables with the following fields:
- `directors` table contains the directors. It contains the following two fields:
    - **movie_id**: unique movie ID (as per IMDb)
    - **person_id**: director's ID (as per IMDb)
- `known_for` table contains the notable works for each person. It contains the following two fields:
    - **person_id**: unique person ID (as per IMDb)
    - **movie_id**: unique movie ID (as per IMDb)
- `movie_akas` table contains the alternative titles of the movies. It contains the following eight fields:
    - **movie_id**: unique movie ID (as per IMDb)
    - **ordering**: order in which movie title appears
    - **title**: alternative title for the movie
    - **region**: country code where movie was shown
    - **language**: language code of the movie
    - **types**: type of alternative title
    - **attributes**: special attributes of the movie
    - **is_original_title**: shows whether alternative title is the origianl title (1 = original title, 0 = alternative title)
- `movie_basics` table contains basic information about the movies. It contains the following six fields:
    - **movie_id**: unique identifier for the movie (as per IMDb)
    - **primary_title**: official title of the movie
    - **original_title**: official title of the movie in the original language
    - **start_year**: year when the movie was released
    - **runtime_minutes**: duration of the movie in minutes
    - **genres**: genre(s) of the movie
- `movie_ratings` table contains the ratings movies were given by IMDb. It contains the following three fields:
    - **movie_id**: unique movie ID (as per IMDb)
    - **averagerating**: average IMDb rating
    - **numvotes**: number of votes received
- `persons` table contains records of those involved in the movies. It has the following five fields:
    - **person_id**: unique identifier for the person (as per IMDb)
    - **primary_name**: full name of the person
    - **birth_year**: year of birth
    - **death_year**: year of death (if dead)
    - **primary_profession**: role in the movie
- `principals` table contains the information of the main cast and crew. It has the following five fields:
    - **movie_id**: unique movie ID (as per IMDb)
    - **ordering**: order of person in credits
    - **person_id**: unique person ID (as per IMDb)
    - **category**: role played
    - **job**: specific role
    - **characters**: character name
- `writers` table contains the following two fields:
    - **movie_id**: unique movie ID (as per IMDb)
    - **person_id**: writer's ID (as per IMDb)

`rt.movie_info.tsv.gz` dataset from Rotten Tomatoes contains general information about the movies. It contains the following twelve columns:
- **id**: unique movie ID (as per Rotten Tomatoes)
- **synopsis**: short summary of the movie
- **rating**: Motion Picture Association of America(MPAA) Rating
- **genre**: genre(s) of the movie
- **director**: name of the director(s)
- **writer**: name of the writer(s)
- **theater_date**: date released in theaters
- **dvd_date**: date released in DVD format
- **currency**: currency symbol
- **box_office**: total revenue from box office
- **runtime**: movie duration in minutes
- **studio**: producing studios

`rt.reviews.tsv.gz` dataset from Rotten Tomatoes contains review information about movies. It contains the following eight columns:
- **id**: unique movie ID (as per Rotten Tomatoes)
- **review**: review text
- **rating**: rating given by critic
- **fresh**: categorization of the review (fresh = positive, rotten = negative)
- **critic**: name of the critic
- **top_critic**: highlights if a critic is regarded as a Top Critic by Rotten Tomatoes (1 = top critic, 0 = not a top critic)
- **publisher**: publication name
- **date**: date of the review

`tmdb.movies.csv.gz` from The Movie Database (TMDb) contains movie and rating informations about various movies. It contains the following nine columns:
- **genre_ids**: list of genre(s) for the movie
- **id**: unique movie ID (as per TMDb)
- **original_language**: language code for the movie
- **original_title**: title of the movie in the official language
- **popularity**: popularity score (as per TMDb)
- **relaease_date**: release date in theatres
- **title**: movie title
- **vote_average**: average user rating
- **vote_count**: total votes received

`tn.movie_budgets.csv.gz` from The Numbers dataset contains movie budget and revenue information. It has the following six columns:
- **id**: unique movie ID (as per The Numbers)
- **release_date**: rlease date in theatres
- **movie**: movie title
- **production_budget**: budget used (in USD)
- **domestic_gross**: revenue generatedfrom country of origin (in USD)
- **worldwide_gross**: total revenue generated worldwide (in USD)

In [113]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from random import gauss
from scipy import stats
import seaborn as sns
from sklearn.linear_model import LinearRegression
from mpl_toolkits import mplot3d
import sklearn.metrics as metrics
import statsmodels.api as sm
import sqlite3

In [114]:
path_1 = ("../Data/bom.movie_gross.csv")
path_2 = ("../Data/rt.movie_info.tsv")
path_3 = ("../Data/rt.reviews.tsv")
path_4 = ("../Data/tmdb.movies.csv")
path_5 = ("../Data/tn.movie_budgets.csv")

In [52]:

bom_movie = pd.read_csv(path_1)
rt_info = pd.read_csv(path_2, sep='\t', encoding='latin1')


rt_reviews = pd.read_csv(path_3, sep='\t', encoding='latin1')

tmdb_df = pd.read_csv(path_4)
tn_budget = pd.read_csv(path_5)

In [53]:
#going through SQl
def load_tables(connection):
    table_names = pd.read_sql(
        "SELECT name FROM sqlite_master WHERE type='table';", connection
    )["name"].tolist()
    sql_tables = {
        table_name: pd.read_sql(f"SELECT * FROM {table_name}", connection)
        for table_name in table_names
    }
    return sql_tables

path = '../Data/im.db'
conn = sqlite3.connect(path)

imdb_tables = load_tables(conn)

print(imdb_tables.keys())

dict_keys(['movie_basics', 'directors', 'known_for', 'movie_akas', 'movie_ratings', 'persons', 'principals', 'writers'])

In [115]:
movie_basics_copy = imdb_tables["movie_basics"].copy(deep=True)
movie_basics_copy

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [116]:
movie_basics_copy.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [6]:
movie_basics_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [7]:
movie_basics_copy.describe()

          start_year  runtime_minutes
count  146144.000000    114405.000000
mean     2014.621798        86.187247
std         2.733583       166.360590
min      2010.000000         1.000000
25%      2012.000000        70.000000
50%      2015.000000        87.000000
75%      2017.000000        99.000000
max      2115.000000     51420.000000

In [8]:
movie_basics_copy.columns

Index(['movie_id', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [9]:
movie_basics_copy.isnull().sum()

movie_id               0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [10]:
movie_basics_copy['original_title'].fillna('unknown',inplace = True)
movie_basics_copy.isnull().sum()

movie_id               0
primary_title          0
original_title         0
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [11]:
median_runtime_minutes = movie_basics_copy['runtime_minutes'].median()
movie_basics_copy['runtime_minutes'].fillna(median_runtime_minutes, inplace=True)
movie_basics_copy.isnull().sum()

movie_id              0
primary_title         0
original_title        0
start_year            0
runtime_minutes       0
genres             5408
dtype: int64

In [12]:
movie_basics_copy['genres']

0           Action,Crime,Drama
1              Biography,Drama
2                        Drama
3                 Comedy,Drama
4         Comedy,Drama,Fantasy
                  ...
146139                   Drama
146140             Documentary
146141                  Comedy
146142                    None
146143             Documentary
Name: genres, Length: 146144, dtype: object

In [13]:
movie_basics_copy['genres'].fillna('unknown',inplace = True)
movie_basics_copy.isnull().sum()

movie_id           0
primary_title      0
original_title     0
start_year         0
runtime_minutes    0
genres             0
dtype: int64

In [14]:
movie_basics_copy.duplicated().sum()

0

In [15]:
movie_ratings_copy = imdb_tables["movie_ratings"]
movie_ratings_copy

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [16]:
movie_ratings_copy.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [17]:
movie_ratings_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [18]:
movie_ratings_copy.describe()

       averagerating      numvotes
count   73856.000000  7.385600e+04
mean        6.332729  3.523662e+03
std         1.474978  3.029402e+04
min         1.000000  5.000000e+00
25%         5.500000  1.400000e+01
50%         6.500000  4.900000e+01
75%         7.400000  2.820000e+02
max        10.000000  1.841066e+06

In [19]:
movie_ratings_copy.columns

Index(['movie_id', 'averagerating', 'numvotes'], dtype='object')

In [20]:
movie_ratings_copy.isnull().sum()

movie_id         0
averagerating    0
numvotes         0
dtype: int64

In [21]:
movie_ratings_copy.duplicated().sum()

0

In [23]:
persons_copy = imdb_tables["persons"]
persons_copy

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"
...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress
606644,nm9990690,Joo Yeon So,NaN,NaN,actress
606645,nm9991320,Madeline Smith,NaN,NaN,actress
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer"

In [24]:
persons_copy.head()

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"

In [25]:
persons_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   person_id           606648 non-null  object
 1   primary_name        606648 non-null  object
 2   birth_year          82736 non-null   float64
 3   death_year          6783 non-null    float64
 4   primary_profession  555308 non-null  object
dtypes: float64(2), object(3)
memory usage: 23.1+ MB

In [26]:
persons_copy.describe()

         birth_year   death_year
count  82736.000000  6783.000000
mean    1967.043826  2000.523367
std       22.122190    43.951530
min        1.000000    17.000000
25%     1957.000000  2001.000000
50%     1971.000000  2013.000000
75%     1981.000000  2016.000000
max     2014.000000  2019.000000

In [27]:
persons_copy.columns

Index(['person_id', 'primary_name', 'birth_year', 'death_year',
       'primary_profession'],
      dtype='object')

In [28]:
persons_copy.isnull().sum()

person_id                  0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
dtype: int64

In [29]:
persons_copy.drop(['birth_year', 'death_year'], axis=1, inplace=True)
persons_copy.isnull().sum()

person_id                 0
primary_name              0
primary_profession    51340
dtype: int64

In [30]:
persons_copy['primary_profession'].fillna('unknown',inplace = True)
persons_copy.isnull().sum()

person_id             0
primary_name          0
primary_profession    0
dtype: int64

In [31]:
persons_copy.duplicated().sum()

0

In [32]:
principals_copy = imdb_tables["principals"]
principals_copy

,movie_id,ordering,person_id,category,job,characters
0,tt0111414,1,nm0246005,actor,None,"[""The Man""]"
1,tt0111414,2,nm0398271,director,None,None
2,tt0111414,3,nm3739909,producer,producer,None
3,tt0323808,10,nm0059247,editor,None,None
4,tt0323808,1,nm3579312,actress,None,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,None,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,None,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,None,None
1028184,tt9692684,4,nm6009913,writer,writer,None
1028185,tt9692684,5,nm10441595,producer,producer,None

In [33]:
principals_copy.head()

    movie_id  ordering  person_id  category       job        characters
0  tt0111414         1  nm0246005     actor      None       ["The Man"]
1  tt0111414         2  nm0398271  director      None              None
2  tt0111414         3  nm3739909  producer  producer              None
3  tt0323808        10  nm0059247    editor      None              None
4  tt0323808         1  nm3579312   actress      None  ["Beth Boothby"]

In [34]:
principals_copy.describe()

           ordering
count  1.028186e+06
mean   4.739847e+00
std    2.747446e+00
min    1.000000e+00
25%    2.000000e+00
50%    4.000000e+00
75%    7.000000e+00
max    1.000000e+01

In [35]:
principals_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   movie_id    1028186 non-null  object
 1   ordering    1028186 non-null  int64
 2   person_id   1028186 non-null  object
 3   category    1028186 non-null  object
 4   job         177684 non-null   object
 5   characters  393360 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB

In [36]:
principals_copy.columns

Index(['movie_id', 'ordering', 'person_id', 'category', 'job', 'characters'], dtype='object')

In [37]:
principals_copy.isnull().sum()

movie_id           0
ordering           0
person_id          0
category           0
job           850502
characters    634826
dtype: int64

In [38]:
principals_copy.dropna(inplace=True)
principals_copy.isnull().sum()

movie_id      0
ordering      0
person_id     0
category      0
job           0
characters    0
dtype: int64

In [39]:
principals_copy.duplicated().sum()

0

In [3]:
directors = imdb_tables['directors']
directors.info()
directors.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291174 entries, 0 to 291173
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movie_id   291174 non-null  object
 1   person_id  291174 non-null  object
dtypes: object(2)
memory usage: 4.4+ MB

movie_id     0
person_id    0
dtype: int64

In [55]:
directors_clean = imdb_tables['directors'].copy(deep=True)

before = directors_clean.shape[0]
directors_clean.drop_duplicates(keep='first', inplace=True)
after = directors_clean.shape[0]

print(f"Dropped {before - after} duplicate rows.")
print(directors_clean.shape)

Dropped 127639 duplicate rows.
(163535, 2)

In [56]:
known_for = imdb_tables['known_for']
print(known_for.info())
print(known_for.isna().sum())
print(known_for.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1638260 entries, 0 to 1638259
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   person_id  1638260 non-null  object
 1   movie_id   1638260 non-null  object
dtypes: object(2)
memory usage: 25.0+ MB
None
person_id    0
movie_id     0
dtype: int64
(1638260, 2)

In [57]:
known_for_clean = imdb_tables['known_for'].copy(deep=True)
before = known_for_clean.shape[0]
known_for_clean.drop_duplicates(keep='first', inplace=True)
after = known_for_clean.shape[0]
print(f"Dropped {before - after} duplicate rows.")
print(known_for_clean.shape)

Dropped 0 duplicate rows.
(1638260, 2)

In [58]:
movie_akas = imdb_tables['movie_akas']
print(movie_akas.info())
print(movie_akas.shape)
print(movie_akas.isna().any())
print(movie_akas.isna().sum())

movie_akas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   movie_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB
None
(331703, 8)
movie_id             False
ordering             False
title                False
region                True
language              True
types                 True
attributes            True
is_original_title     True
dtype: bool
movie_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
331700,tt9880178,1,La atención,None,None,original,None,1.0
331701,tt9880178,2,La atención,ES,None,None,None,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0

In [59]:
movie_akas_clean = imdb_tables['movie_akas'].copy(deep=True)
#filling missing regions with unknown
movie_akas_clean['region'] = movie_akas_clean['region'].fillna("UNK")
#due to high missingness, drop the language table, the  types column too, attribiutes too, is_original also goes down
movie_akas_clean = movie_akas_clean.drop(['language','types', 'attributes', 'is_original_title'], axis=1)
movie_akas_clean['region'].unique()
region_map = {
    'AD': 'Andorra',
    'AE': 'United Arab Emirates',
    'AF': 'Afghanistan',
    'AG': 'Antigua and Barbuda',
    'AI': 'Anguilla',
    'AL': 'Albania',
    'AM': 'Armenia',
    'AN': 'Netherlands Antilles (former)',
    'AO': 'Angola',
    'AQ': 'Antarctica',
    'AR': 'Argentina',
    'AS': 'American Samoa',
    'AT': 'Austria',
    'AU': 'Australia',
    'AW': 'Aruba',
    'AZ': 'Azerbaijan',
    'BA': 'Bosnia and Herzegovina',
    'BB': 'Barbados',
    'BD': 'Bangladesh',
    'BE': 'Belgium',
    'BF': 'Burkina Faso',
    'BG': 'Bulgaria',
    'BH': 'Bahrain',
    'BI': 'Burundi',
    'BJ': 'Benin',
    'BM': 'Bermuda',
    'BN': 'Brunei Darussalam',
    'BO': 'Bolivia',
    'BR': 'Brazil',
    'BS': 'Bahamas',
    'BT': 'Bhutan',
    'BUMM': 'Burma (former name for Myanmar)',
    'BY': 'Belarus',
    'BZ': 'Belize',
    'CA': 'Canada',
    'CD': 'Congo, Democratic Republic of the',
    'CF': 'Central African Republic',
    'CG': 'Congo, Republic of the',
    'CH': 'Switzerland',
    'CI': 'Côte d\'Ivoire',
    'CL': 'Chile',
    'CM': 'Cameroon',
    'CN': 'China',
    'CO': 'Colombia',
    'CR': 'Costa Rica',
    'CSHH': 'Czechoslovakia (former)',
    'CSXX': 'Serbia and Montenegro (former)',
    'CU': 'Cuba',
    'CV': 'Cabo Verde',
    'CY': 'Cyprus',
    'CZ': 'Czechia',
    'DE': 'Germany',
    'DK': 'Denmark',
    'DM': 'Dominica',
    'DO': 'Dominican Republic',
    'DZ': 'Algeria',
    'EC': 'Ecuador',
    'EE': 'Estonia',
    'EG': 'Egypt',
    'EH': 'Western Sahara',
    'ER': 'Eritrea',
    'ES': 'Spain',
    'ET': 'Ethiopia',
    'FI': 'Finland',
    'FJ': 'Fiji',
    'FO': 'Faroe Islands',
    'FR': 'France',
    'GA': 'Gabon',
    'GB': 'United Kingdom',
    'GE': 'Georgia',
    'GH': 'Ghana',
    'GL': 'Greenland',
    'GM': 'Gambia',
    'GP': 'Guadeloupe',
    'GR': 'Greece',
    'GT': 'Guatemala',
    'GU': 'Guam',
    'GW': 'Guinea-Bissau',
    'HK': 'Hong Kong',
    'HN': 'Honduras',
    'HR': 'Croatia',
    'HT': 'Haiti',
    'HU': 'Hungary',
    'ID': 'Indonesia',
    'IE': 'Ireland',
    'IL': 'Israel',
    'IM': 'Isle of Man',
    'IN': 'India',
    'IQ': 'Iraq',
    'IR': 'Iran',
    'IS': 'Iceland',
    'IT': 'Italy',
    'JM': 'Jamaica',
    'JO': 'Jordan',
    'JP': 'Japan',
    'KE': 'Kenya',
    'KG': 'Kyrgyzstan',
    'KH': 'Cambodia',
    'KN': 'Saint Kitts and Nevis',
    'KP': 'North Korea',
    'KR': 'South Korea',
    'KW': 'Kuwait',
    'KY': 'Cayman Islands',
    'KZ': 'Kazakhstan',
    'LA': 'Laos',
    'LB': 'Lebanon',
    'LC': 'Saint Lucia',
    'LI': 'Liechtenstein',
    'LK': 'Sri Lanka',
    'LR': 'Liberia',
    'LS': 'Lesotho',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'LY': 'Libya',
    'MA': 'Morocco',
    'MC': 'Monaco',
    'MD': 'Moldova',
    'ME': 'Montenegro',
    'MG': 'Madagascar',
    'MH': 'Marshall Islands',
    'MK': 'North Macedonia',
    'ML': 'Mali',
    'MM': 'Myanmar',
    'MN': 'Mongolia',
    'MO': 'Macao',
    'MQ': 'Martinique',
    'MR': 'Mauritania',
    'MT': 'Malta',
    'MU': 'Mauritius',
    'MV': 'Maldives',
    'MW': 'Malawi',
    'MX': 'Mexico',
    'MY': 'Malaysia',
    'MZ': 'Mozambique',
    'NC': 'New Caledonia',
    'NE': 'Niger',
    'NG': 'Nigeria',
    'NI': 'Nicaragua',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'NP': 'Nepal',
    'NZ': 'New Zealand',
    'OM': 'Oman',
    'PA': 'Panama',
    'PE': 'Peru',
    'PF': 'French Polynesia',
    'PG': 'Papua New Guinea',
    'PH': 'Philippines',
    'PK': 'Pakistan',
    'PL': 'Poland',
    'PR': 'Puerto Rico',
    'PS': 'Palestine, State of',
    'PT': 'Portugal',
    'PY': 'Paraguay',
    'QA': 'Qatar',
    'RE': 'Réunion',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russia',
    'RW': 'Rwanda',
    'SA': 'Saudi Arabia',
    'SB': 'Solomon Islands',
    'SD': 'Sudan',
    'SE': 'Sweden',
    'SG': 'Singapore',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'SL': 'Sierra Leone',
    'SM': 'San Marino',
    'SN': 'Senegal',
    'SO': 'Somalia',
    'SR': 'Suriname',
    'SUHH': 'Soviet Union (former)',
    'SV': 'El Salvador',
    'SY': 'Syrian Arab Republic',
    'SZ': 'Eswatini',
    'TD': 'Chad',
    'TG': 'Togo',
    'TH': 'Thailand',
    'TJ': 'Tajikistan',
    'TL': 'Timor-Leste',
    'TM': 'Turkmenistan',
    'TN': 'Tunisia',
    'TO': 'Tonga',
    'TR': 'Turkey',
    'TT': 'Trinidad and Tobago',
    'TW': 'Taiwan',
    'TZ': 'Tanzania',
    'UA': 'Ukraine',
    'UG': 'Uganda',
    'UNK': 'Unknown',
    'US': 'United States',
    'UY': 'Uruguay',
    'UZ': 'Uzbekistan',
    'VC': 'Saint Vincent and the Grenadines',
    'VE': 'Venezuela',
    'VI': 'Virgin Islands, U.S.',
    'VN': 'Vietnam',
    'VU': 'Vanuatu',
    'WF': 'Wallis and Futuna',
    'XAS': 'Southeast Asia (unofficial)',
    'XEU': 'Europe (unofficial)',
    'XKO': 'Kosovo (unofficial)',
    'XKV': 'Kosovo (under UNSC resolution)',
    'XNA': 'North America (unofficial)',
    'XSA': 'South Asia (unofficial)',
    'XWG': 'West Germany (former)',
    'XWW': 'World-wide (English title)',
    'XYU': 'Yugoslavia (former)',
    'YE': 'Yemen',
    'ZA': 'South Africa',
    'ZM': 'Zambia',
    'ZW': 'Zimbabwe'
}
movie_akas_clean['region_full'] = movie_akas_clean['region'].map(region_map).str.upper()
movie_akas_clean.duplicated().sum()

movie_akas_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_id     331703 non-null  object
 1   ordering     331703 non-null  int64
 2   title        331703 non-null  object
 3   region       331703 non-null  object
 4   region_full  331703 non-null  object
dtypes: int64(1), object(4)
memory usage: 12.7+ MB

In [60]:
writers = imdb_tables['writers']
writers.info()
writers.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255873 entries, 0 to 255872
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movie_id   255873 non-null  object
 1   person_id  255873 non-null  object
dtypes: object(2)
memory usage: 3.9+ MB

(255873, 2)

In [61]:
writers_clean = imdb_tables['writers'].copy(deep=True)
before = writers_clean.shape[0]
writers_clean.drop_duplicates(keep='first', inplace=True)
after = writers_clean.shape[0]
print(f"Dropped {before - after} duplicate rows.")
print(writers_clean.shape)

Dropped 77521 duplicate rows.
(178352, 2)

#### rt info

In [117]:
#Make a copy
rt_info1 = rt_info.copy()

In [118]:
#Check a few rows of the dataset
rt_info1.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [119]:
#Data shape
rt_info1.shape

(1560, 12)

We have 1560 records and 12 columns.

In [120]:
# Data info
rt_info1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [121]:
#Drop duplicates
rt_info1.drop_duplicates().head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [122]:
#Drop the nulls in the theater date column
rt_info1.dropna(subset=['theater_date'],inplace=True)

In [123]:
# Drop columns with too many nulls
rt_info1.drop(columns=['currency','box_office','studio'],inplace=True)

In [124]:
#Get info again
rt_info1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1201 entries, 0 to 1559
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1201 non-null   int64
 1   synopsis      1198 non-null   object
 2   rating        1201 non-null   object
 3   genre         1201 non-null   object
 4   director      1083 non-null   object
 5   writer        938 non-null    object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   runtime       1194 non-null   object
dtypes: int64(1), object(8)
memory usage: 93.8+ KB

In [125]:
# Convert theatre date to datetime
rt_info1['theater_date']=pd.to_datetime(rt_info1['theater_date']) 

# Convert theatre date to datetime
rt_info1['dvd_date'] =pd.to_datetime(rt_info1['dvd_date'])

In [126]:
#Convert runtime to integer
rt_info1['runtime']= rt_info1['runtime'].str.replace('minutes','',regex=False)

In [127]:
#select the nulls and replace them with the actual runtime
rows_runtime_null=rt_info1[rt_info1['runtime'].isna()]
rows_runtime_null

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,runtime
102,131,No Sesame. All Street. THE HAPPYTIME MURDERS i...,R,Action and Adventure|Comedy,Brian Henson,Todd Berger|Dee Austin Robertson,2018-08-24,2018-12-04,NaN
434,567,Now graduated from college and out in the real...,PG-13,Comedy,Trish Sie,Mike White|Kay Cannon,2017-12-22,2018-03-20,NaN
1023,1325,From the outer reaches of space to the small-t...,R,Action and Adventure|Horror|Science Fiction an...,Shane Black,Shane Black|Fred Dekker,2018-09-14,2018-11-27,NaN
1078,1389,"From Ron Shelton, writer/director of Tin Cup a...",PG-13,Action and Adventure|Comedy,Ron Shelton,Ron Shelton,2017-12-08,2018-02-27,NaN
1126,1451,A group of scientific researchers on a space s...,NR,Mystery and Suspense|Science Fiction and Fantasy,Julius Onah,Oren Uziel,2018-02-04,2019-02-05,NaN
1201,1541,"In the heatwarming live action adventure ""Disn...",PG,Action and Adventure|Comedy|Kids and Family,Marc Forster,Alex Ross Perry,2018-08-03,2018-11-06,NaN
1499,1931,Mark Felt - The Man Who Brought Down the White...,PG-13,Drama,Peter Landesman,Peter Landesman,2017-09-29,2018-01-09,NaN

In [128]:
#Replace NaN with the actual runtimes
rt_info1.loc[rt_info1['id']==131,'runtime']=91
rt_info1.loc[rt_info1['id']==567,'runtime']=106
rt_info1.loc[rt_info1['id']==1325,'runtime']=118
rt_info1.loc[rt_info1['id']==1389,'runtime']=135
rt_info1.loc[rt_info1['id']==1451,'runtime']=102
rt_info1.loc[rt_info1['id']==1541,'runtime']=104
rt_info1.loc[rt_info1['id']==1931,'runtime']=103

In [129]:
#get full movie synopsis
movie1325=rt_info1.loc[rt_info1['id']==1325, 'synopsis'].iloc[0]
movie1325

"From the outer reaches of space to the small-town streets of suburbia, the hunt comes home in Shane Black's explosive reinvention of the Predator series. Now, the universe's most lethal hunters are stronger, smarter and deadlier than ever before, having genetically upgraded themselves with DNA from other species. When a young boy accidentally triggers their return to Earth, only a ragtag crew of ex-soldiers and a disgruntled science teacher can prevent the end of the human race."

In [130]:
#get full movie synopsis
movie1451=rt_info1.loc[rt_info1['id']==1451, 'synopsis'].iloc[0]
movie1451

'A group of scientific researchers on a space station attempt to harness a new energy source called the "God Particle," only to unleash something terrifying. Julius Onah (The Girl Is in Trouble) directed this sci-fi thriller, which stars Gugu Mbatha-Raw, David Oyelowo, Daniel Br'

In [131]:
#Convert to int
rt_info1['runtime'].astype(int)

0       104
1       108
2       116
3       128
5        95
       ...
1555    106
1556     88
1557    111
1558    101
1559     94
Name: runtime, Length: 1201, dtype: int32

In [132]:
# Fill the Nulls
rt_info1.fillna({'director': 'Unknown'})
rt_info1.fillna({'writer': 'Unknown'})
rt_info1.fillna({'synopsis': 'Not available'})

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,runtime
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,1971-10-09,2001-09-25,104
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,2012-08-17,2013-01-01,108
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,1996-09-13,2000-04-18,116
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,1994-12-09,1997-08-27,128
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,2000-03-03,2000-07-11,95
...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,2006-08-18,2007-01-02,106
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,1993-07-23,2001-04-17,88
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,1962-01-01,2004-05-11,111
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,1993-04-01,2002-01-29,101
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,2001-09-27,2003-02-11,94

#### Feature Engineering

In [133]:
#Create new columns for year and month
rt_info1['year']= rt_info1['theater_date'].dt.strftime('%Y')
rt_info1['month']= rt_info1['theater_date'].dt.strftime('%m')